<h1>Listing requests</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Method</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.url %></td>
        <td><%= request.method %></td>
        <td><%= link_to 'Show', request %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Clear List", clear_all_requests_path %>

<br>

Listening for requests made to <%= @host + listening_path %>
