<p id="notice"><%= notice %></p>
<h1><strong><%= @request.method %></strong> with params <%= @request.url %></h1>
<pre>
<% begin %>
  <%= JSON.pretty_generate(JSON::parse(@request.body)) %>
  <% rescue %>
  <%= @request.body %>
  <% end %>
</pre>

<div>
<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
</div>
